@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/*	display: flex;this is the point*/
.d-flex {
  display: flex;
}

.f-drct-c {
  flex-direction: column;
}

.j-c-f-s {
  justify-content: flex-start;
}

.j-c-c {
  justify-content: center;
}

.j-c-s-b {
  justify-content: space-between;
}

.a-s-c {
  align-self: center;
}

.f-wrap {
  flex-wrap: wrap;
}

.pstn-rltv {
  position: relative;
}

.pstn-abs {
  position: absolute;
}

.pstn-t {
  top: 30px;
  bottom: 10px;
  left: 10px;
  right: 10px;
}

.pstn-l-153 {
  left: 153px;
}

.pstn-l-324 {
  left: 324px;
}

.pstn-t-20 {
  top: 20px;
}

z-idx0 {
  z-index: 10;
}

z-idx1 {
  z-index: 20;
}

.img1 {
  max-width: 1060px;
}

.img2 {
  display: none;
  max-width: 375px;
}

.icon {
  margin-right: 8px;
  margin-left: 8px;
  padding: 8px;
  width: 56px;
}

.udrline1 {
  max-width: 148px;
}

.udrline2 {
  max-width: 119px;
}

.overall {
  max-width: 1920px;
  margin: 0 auto;
}

.bannerleft {
  max-width: 860px;
}

.intro {
  width: 430px;
  margin-left: 312px;
  margin-top: 248px;
  margin-bottom: 248px;
}

.iconarea {
  margin-top: 60px;
}

.word {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 28px;
  color: #3B3B3B;
}

.word-40 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  color: #3B3B3B;
}

.word-20 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #5B5B5B;
}

.word-16 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #C1C1C1;
}

.w-grey {
  color: #919191;
}

.button {
  border-radius: 16px;
  background-color: #F1F1F1;
  height: 32px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: 16px;
  margin-top: 24px;
}

.mb24 {
  margin-bottom: 24px;
}

.mb16 {
  margin-bottom: 16px;
}

.bdr-check {
  border: solid yellow;
}

/*div{
    border: solid yellow;
}
*/
/*span{
    border: solid blue;
}*/
.dsp-n {
  display: none;
}

@media (max-width: 428px) {
  .overall {
    max-width: 428px;
  }
  .img1 {
    display: none;
  }
  .img2 {
    display: block;
  }
  .intro {
    max-width: 428px;
    height: 255px;
    margin-left: 53.5px;
    margin-right: 53.5px;
    margin-top: 40px;
    margin-bottom: 24px;
  }
  .word-40 {
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    color: #3B3B3B;
  }
  .word {
    text-align: center;
  }
  .rspsv-dsgn-apr {
    display: block;
  }
  .rspsv-dsgn-dsapr {
    display: none;
  }
  .rspsv-f-drct-c {
    flex-direction: column;
  }
  .rspsv-j-c-c {
    justify-content: center;
  }
  .rspsv-d-flex {
    display: flex;
  }
  .icon {
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 0px;
    width: 40px;
  }
  .iconarea {
    margin-top: 24px;
  }
  .pstn-l-324 {
    left: 60px;
  }
  .pstn-l-153 {
    left: 190px;
  }
  .pstn-t-20 {
    top: 47px;
  }
}
/*

1.表頭：Sabrina

<img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/2f8d8c7a6133b448ecff5bf0a3d282b87b7c6a7e/2024%20web-camp/logo.svg" alt="">

2.banner：Merlin
<img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/hero-lg.png?raw=true" alt="">
<img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/mark.png?raw=true" alt="">
黃色標示：https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/mark.png?raw=true

響應式照片：https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/hero-sm.png?raw=true

youtube icon
<img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/2f8d8c7a6133b448ecff5bf0a3d282b87b7c6a7e/2024%20web-camp/youtube.svg" alt="">
ig/fb icon
<img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/2f8d8c7a6133b448ecff5bf0a3d282b87b7c6a7e/2024%20web-camp/facebook.svg" alt="">
<img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/2f8d8c7a6133b448ecff5bf0a3d282b87b7c6a7e/2024%20web-camp/instagram.svg" alt="">

3.作品集頁面：Mika
<img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work1-bg.png?raw=true" alt="">
<img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work1.png?raw=true" alt="">

//理財app
<img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work2-lg.png?raw=true" alt="">

//醫美診所官網
<img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work3-bg.png?raw=true" alt="">
<img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work3.png?raw=true" alt="">

//服務項目
<img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-services-bg.png?raw=true" alt="">

平面設計icon
<img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/2f8d8c7a6133b448ecff5bf0a3d282b87b7c6a7e/2024%20web-camp/price-item-visual.svg" alt="">

UIdesign icon
<img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/2f8d8c7a6133b448ecff5bf0a3d282b87b7c6a7e/2024%20web-camp/price-item-ui.svg" alt="">

前端開發icon
<img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/2f8d8c7a6133b448ecff5bf0a3d282b87b7c6a7e/2024%20web-camp/price-item-front-end.svg" alt="">

切版icon
<img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/2f8d8c7a6133b448ecff5bf0a3d282b87b7c6a7e/2024%20web-camp/service-item-html%26css.svg" alt="">

對角線切割icon
<img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/process-bg.png?raw=true" alt="">



//精選文章
<img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/article-image1.png?raw=true" alt="">
<img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/article-image2.png?raw=true" alt="">
<img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/article-image3.png?raw=true" alt="">

//表尾
<img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/footer-bg-lg.png?raw=true" alt="">
<img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/2f8d8c7a6133b448ecff5bf0a3d282b87b7c6a7e/2024%20web-camp/facebook.svg" alt="">
<img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/2f8d8c7a6133b448ecff5bf0a3d282b87b7c6a7e/2024%20web-camp/instagram.svg" alt="">
<img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/2f8d8c7a6133b448ecff5bf0a3d282b87b7c6a7e/2024%20web-camp/logo.svg" alt="">
*//*# sourceMappingURL=mission2.css.map */